<?xml version="1.0" encoding="utf-8"?>
<Content Key="65ae475b-6fc7-4f0b-963f-c516984b5cb9" Alias="Homepage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Homepage</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-05-23T14:03:57</CreateDate>
    <NodeName Default="Homepage" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="18f37f78-4335-4733-9e51-60f785bca390">HomePage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003E\u003Cstrong\u003ELorem ipsum\u003C/strong\u003E\u003C/p\u003E\u003Cp\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et aliquet ante, ut eleifend libero.\u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003EProin eleifend consequat nunc id vulputate.\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003EUt eget lobortis metus, non congue lorem.\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003EOrci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003EMaecenas tempus non lectus rhoncus efficitur.\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003ESed est ligula, maximus in dolor sed, lacinia egestas ligula. Donec eu nisi lectus.\u003C/p\u003E\u003Cp\u003EMorbi pharetra pulvinar arcu non gravida.\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </bodyText>
    <footerText>
      <Value><![CDATA[Copyright Widgets Ltd 2024]]></Value>
    </footerText>
    <pageTitle>
      <Value><![CDATA[Welcome to Widgets Ltd]]></Value>
    </pageTitle>
  </Properties>
</Content>